<div class="table-container">
  <div class="cards-container">
    <div *ngFor="let card of cards; let i = index">
      <div class="card"
              id="card-{{card.getIndex()}}"
              (click)="cardClick(i)"
              (keypress)="cardClick(i)"
              tabindex=""
              >
        <div class="card-front">
          <img src="../../../assets/card-images/{{card.getFileName()}}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="spread-container">
    <div class="position" id="position-1"><div class="selected-card"></div></div>
    <div class="position" id="position-2"><div class="selected-card"></div></div>
    <div class="position" id="position-3"><div class="selected-card"></div></div>
  </div>
</div>
