.card {
  position: relative;
  width: 7em;
  height: 12em;
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
  margin: 3px;
  cursor: grab;
  transform-style: preserve-3d;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  display: inline-block;
}

:host {
  margin: 3px;
  padding: 3px;
  width: 7em;
  height: 12em;
  list-style: none;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  backface-visibility: hidden;

  > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
  }
}

.front {
  transform: rotateY(180deg);
}

.card:active {
  cursor: grabbing;
}
